@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-noto-stack: var(--font-noto-sans), var(--font-noto-sans-jp),
    var(--font-noto-sans-kr), var(--font-noto-sans-malayalam),
    var(--font-noto-sans-devanagari), var(--font-noto-sans-arabic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
